/* Mobile View */
@media only screen and (max-width: 768px) {
  * {
    text-decoration: none;
    list-style-type: none;
  }

  body {
    background-color: #67adce;
    font-family: 'Fredoka One', cursive;
    max-width: 768px;
    max-height: 1024px;
  }

  h1 {
    font-family: 'Luckiest Guy', cursive;
    padding-top: 1%;
    padding-left: 2%;
    font-size: 250%;
    color: #1a3960;
  }

  #winPattern {
    position: absolute;
    top: 10%;
    padding-bottom: 10%;
    margin: auto;
    width: 100%;
  }

  #helpText {
    font-family: 'Fredoka One', cursive;
    padding-top: 1%;
    padding-left: 2%;
    color: white;
    text-align: center;
    font-size: 140%;
    max-width: 50%;
    line-height: 130%;
    display: block;
    margin: auto;
  }

  #trashCleaned {
    font-size: 400%;
    color: #aaede3;
    display: block;
    margin: auto;
    text-align: center;
  }

  img {
    display: block;
  }

  #pointer {
    display: none;
  }

  #slugSad {
    position: absolute;
    bottom: 0;
    right: 5%;
  }

  #trashOpen {
    position: absolute;
    bottom: 0;
    right: 50%;
  }

  #boot {
    position: absolute;
    top: 20%;
    right: 5%;
  }

  #bottle {
    position: absolute;
    top: 30%;
    right: 25%;
  }

  #can {
    position: absolute;
    top: 40%;
    right: 35%;
  }

  #net {
    position: absolute;
    top: 50%;
    right: 55%;
  }

  #paper {
    position: absolute;
    top: 60%;
    right: 65%;
  }

  #plastic {
    position: absolute;
    top: 70%;
    right: 75%;
  }

  #ground {
    display: none;
  }

  footer {
    position: fixed;
    display: block;
    margin: auto;
    top: 0;
    right: 5%;
  }

  footer nav li {
    display: inline;
    padding: 10px;
    text-align: center;
  }

  a {
    color: darkturquoise;
  }
}

/* Desktop View */
@media only screen and (min-width: 769px) {
  * {
    text-decoration: none;
    list-style-type: none;
  }

  body {
    background-color: #67adce;
    font-family: 'Fredoka One', cursive;
  }

  #winPattern {
    position: absolute;
    top: 0;
    padding-bottom: 10%;
    margin: auto;
  }

  h1 {
    font-family: 'Luckiest Guy', cursive;
    padding-top: 1%;
    padding-left: 2%;
    font-size: 250%;
    color: #1a3960;
  }

  #trashCleaned {
    font-size: 400%;
    color: #aaede3;
    display: block;
    margin: auto;
    text-align: center;
  }

  #helpText {
    font-family: 'Fredoka One', cursive;
    position: absolute;
    right: 8%;
    bottom: 70%;
    background-color: white;
    color: #1a3960;
    border-radius: 60%;
    max-width: 10%;
    text-align: center;
    padding: 1.5%;
    line-height: 120%;
    transition: opacity 1s;
  }

  img {
    position: absolute;
    bottom: 5%;
  }

  @keyframes pointer {
    0% {
      bottom: 50%;
      bottom: 55%;
    }

    50% {
      bottom: 55%;
      bottom: 50%;
    }

    100% {
      bottom: 50%;
      bottom: 55%;
    }
  }

  #pointer {
    bottom: 50%;
    right: 21%;
    transition: opacity 1s;
    animation-name: pointer;
    animation: pointer 3s infinite;
  }

  #slugSad {
    right: 2%;
  }

  #trashOpen {
    right: 20%
  }

  #boot {
    right: 40%;
  }

  #bottle {
    right: 50%;
  }

  #can {
    right: 60%;
  }

  #net {
    right: 70%;
  }

  #paper {
    right: 80%;
  }

  #plastic {
    right: 90%;
  }

  #ground {
    display: block;
    margin: auto;
    width: 1366px;
    bottom: 0;
  }

  footer {
    position: fixed;
    display: block;
    margin: auto;
    top: 0;
    right: 40%;
  }

  footer nav li {
    display: inline;
    padding: 10px;
    text-align: center;
  }

  a {
    color: darkturquoise;
  }
}
